{
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-es2015-spread",
    "syntax-object-rest-spread"
  ],
  "presets": [
    ["backpack"],
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    ["@ava/stage-4"]
  ]
}