docs
node_modules
npm-debug.log
yarn-error.log
Dockerfile*
docker-compose*
.editorconfig
.dockerignore
.git
.gitignore
.env
.env.sample
.nuxt
.travis.yml
build
private
*/bin
*/obj
README.md
LICENSE
.vscode