$md-yellow: (
    50 : #fdfae1,
    100 : #fbf2b3,
    200 : #f8e981,
    300 : #f5e04e,
    400 : #f3da28,
    500 : #f1d302,
    600 : #efce02,
    700 : #edc801,
    800 : #ebc201,
    900 : #e7b701,
    A100 : #ffffff,
    A200 : #fff6da,
    A400 : #ffeba7,
    A700 : #ffe58e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-black: (
    50 : #e3e3e2,
    100 : #babab6,
    200 : #8c8c85,
    300 : #5e5d54,
    400 : #3c3b2f,
    500 : #19180a,
    600 : #161509,
    700 : #121107,
    800 : #0e0e05,
    900 : #080803,
    A100 : #ffff4e,
    A200 : #ffff1b,
    A400 : #e7e700,
    A700 : #cece00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-red: (
    50 : #fce7e9,
    100 : #f8c4c8,
    200 : #f39ca3,
    300 : #ee747e,
    400 : #ea5762,
    500 : #e63946,
    600 : #e3333f,
    700 : #df2c37,
    800 : #db242f,
    900 : #d51720,
    A100 : #ffffff,
    A200 : #ffd4d5,
    A400 : #ffa1a4,
    A700 : #ff878b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-blue: (
    50 : #e2eef1,
    100 : #b6d5dc,
    200 : #86bac4,
    300 : #559eac,
    400 : #30899b,
    500 : #0c7489,
    600 : #0a6c81,
    700 : #086176,
    800 : #06576c,
    900 : #034459,
    A100 : #8bddff,
    A200 : #58cfff,
    A400 : #25c0ff,
    A700 : #0bb9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);